body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(230, 231, 232, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:1284px;
  height:60px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:56px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:40px;
  height:40px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:16px;
  width:38px;
  height:24px;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
}
#u196_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196.mouseDown {
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:254px;
  height:40px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:10px;
  width:250px;
  height:36px;
  font-family:'Source Han Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u197_img.mouseDown {
}
#u197.mouseDown {
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:626px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u198 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:72px;
  width:810px;
  height:626px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:72px;
  width:810px;
  height:48px;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:279px;
  height:13px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:116px;
  width:270px;
  height:4px;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(92, 194, 174, 0.866666666666667);
}
#u203 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:72px;
  width:270px;
  height:48px;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(92, 194, 174, 0.866666666666667);
}
#u203_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(92, 194, 174, 0.866666666666667);
}
#u203.mouseDown {
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u204 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:72px;
  width:270px;
  height:48px;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u204_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u204.mouseDown {
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:274px;
  height:52px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:72px;
  width:270px;
  height:48px;
  font-family:'Source Han Sans Bold', 'Source Han Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u205_img.mouseDown {
}
#u205.mouseDown {
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:562px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:130px;
  width:1px;
  height:561px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:562px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:130px;
  width:1px;
  height:561px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:144px;
  height:44px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:287px;
  width:140px;
  height:40px;
  font-family:'Source Han Sans';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.866666666666667);
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:144px;
  height:64px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:373px;
  width:140px;
  height:60px;
  font-family:'Source Han Sans';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.866666666666667);
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:68px;
  height:68px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:635px;
  width:56px;
  height:56px;
}
#u210_img.mouseDown {
}
#u210.mouseDown {
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:649px;
  width:28px;
  height:28px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
